.grid{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    margin-left: 5rem;
    margin-right: 5rem;
}

.grid .tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(26, 17, 138),rgb(156, 156, 156));
    margin-top: 5rem;
    border-radius: 1rem;
    color: #e3dbdb;
    height: 10rem;

}
.tile button{
    margin-bottom: 1rem;
    background-color:antiquewhite;
    color: rgb(18, 6, 6);
    border-radius: 3px;
}
